.main-seven {
  text-align: center;
  margin-top: 120px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 120px 140px 120px 140px;

  padding: 80px 212px;
}

.title-seven {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.main-seven-content > p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.subscribe {
  display: flex;
  padding: 48px 336px 80px 336px;
  justify-content: center;
}
.subscribe > input {
  min-width:438px;
  height: 72px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background: #fff;
  display: flex;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  border: none;
  align-items: center;
}
.subscribe > button {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  padding: 24px 56px;
  background: #f00;
  color: #fff;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}
