/* banner design start */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  margin: 50px 140px 0px 140px;
  background-repeat: no-repeat;
  min-width: 1320px;
  height: 600px;
  background-position: center;
  border-radius: 16px;
}

/* banner-text design start */
.banner-text > h4 {
  padding-top: 177px;
  color: #fff;
  text-align: center;
  /* font-family: Merriweather; */
  font-size: 32px;
  /* font-style: normal; */
  /* font-weight: 400; */
  /* line-height: normal; */
}

.banner-text > h1 {
  color: #fff;
  text-align: center;

  /* font-family: Merriweather; */

  font-size: 72px;

  /* font-style: normal; */
  /* font-weight: 900; */
  /* line-height: 95px; 131.944% */
}
