/* banner design start */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assignment-1/images/Banner Image.png");
  margin: 50px 140px 0px 140px;
  background-repeat: no-repeat;
  min-width: 1320px;
  min-height: 600px;
  background-position: center;
  border-radius: 16px;
  background-size: cover;
}

/* banner-text design start */

.banner-text {
  text-align: center;
}

.banner-text > h4 {
  padding-top: 177px;
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.banner-text > h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
}

/* main first style start */
.main-first {
  text-align: center;
}
.main-first > h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-top: 100px;
}
.main-first > p {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.main-first > h4 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  margin-top: 0%;
}

/* main-second part start */
.main-second {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assignment-1/images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1320px;
  min-height: 600px;
  background-position: center;
  border-radius: 16px;
  margin: 50px 140px 120px 140px;
}

.main-second-banner {
  display: flex;
}
.main-second-img {
  padding: 68px 138px 68px 0px;
}
.main-second-text > h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  padding: 126px 0px 0px 126px;
}

.main-second-text > p {
  /* width: 697px;  */
  color: white;
  font-family: Inter;
  font-size: 18px;
  padding-left: 126px;
 
}
.join-btn{
  
  background-color: transparent;
  color: white;
  border: 0;
  margin-left: 158px;
  text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}

/* main-third start */

.main-third {
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
min-width: 1320px;
min-height: 482px;
text-align: center;
font-family: Inter;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-width: 1320px;
min-height: 482px;
margin: 0px 140px 120px 140px ;
border-radius: 16px;


}

.main-third-text{
padding: 100px 386px 48px 385px ;
font-size: 32px;
line-height: 56px
text-transform: capitalize;
} 

.main-third-span{
color: #F00;
}

.btn-primary{
  color: #FFF;
  gap: 10px;
  background: #F00;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
}


/* main-froth-start */
.main-forth-content{
  display: flex;
  margin: 0px 140px 120px 140px;
  align-items: center;
  justify-content: space-between;
 
 
}
.middle-image{
  margin: 100px;
  align-items: center;
  
  
}
.main-forth-text > h4{
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.primary-title {
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}

.main-forth-p{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;

}

.middle-image{
  border: 15px solid #F00;
  border-radius: 463px;
  width: 365px;
  height: 365px;
  padding: 50px;
}

.right-content>h1 {
color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;

}


/* main-fifth-start */
.main-fifth{
  text-align: center;
  margin-left: 140px ;
  margin-right: 140px;
}

.main-fifth-content > h4{
color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.main-fifth-content > h1{
  font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.main-fifth-content > h1 >span{
  color: #F00;
}
.main-fifth-content > p {

  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
line-height: 32px;
padding: 0px 120px 0px 120px;
}
/* .fifth-banner{
  display: flex;
  margin:0%;
} */
.fifth-banner{
  background-image: url("assignment-1/images/Rectangle\ 1.png");
}